body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url(/images/big_bend_night_landscape.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    padding-left: 150px;
    padding-right: 110px;
    padding-top: 50px;
    margin-bottom: 100px;
}

.nav-bar-menu {
    display: flex;
    align-items: center;
    line-height: 1;
    list-style-type: none;
    margin: 0;
}

.nav-bar-item {
    padding: 10px 5px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: large;
}

.nav-bar-item a {
    color: white;
    text-decoration: none;
}

.navbar-left {
    color: #06FDD0;
    font-size: xx-large;
    font-family: 'Londrina Solid', cursive;
}

/* Neon experimental code: */
@import url('https://fonts.googleapis.com/css?family=Raleway');

.navbar-left {
animation: border-flicker 2s linear infinite;
}

.navbar-left {
animation: text-flicker 3s linear infinite;
}

#offset {
animation: letter-flicker 2s linear infinite;
}

@keyframes text-flicker {
0% {
opacity:0.1;
text-shadow: 0px 0px 29px#06FDD0;
}

2% {
opacity:1;
text-shadow: 0px 0px 29px #06FDD0;
}
8% {
opacity:0.1;
text-shadow: 0px 0px 29px #06FDD0;
}
9% {
opacity:1;
text-shadow: 0px 0px 29px #06FDD0;
}
12% {
opacity:0.1;
text-shadow: 0px 0px #06FDD0;
}
20% {
opacity:1;
text-shadow: 0px 0px 29px #06FDD0;
}
25% {
opacity:0.3;
text-shadow: 0px 0px 29px #06FDD0;
}
30% {
opacity:1;
text-shadow: 0px 0px 29px #06FDD0;
}

70% {
opacity:0.7;
text-shadow: 0px 0px 29px #06FDD0;
}

72% {
opacity:0.2;
text-shadow:0px 0px 29px #06FDD0;
}

77% {
opacity:.9;
text-shadow: 0px 0px 29px #06FDD0;
}
100% {
opacity:.9;
text-shadow: 0px 0px 29px #06FDD0;
}
}

@keyframes border-flicker {
0% {
opacity:0.1;
-webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
}
2% {
opacity:1;
-webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
}
4% {
opacity:0.1;
-webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
}

8% {
opacity:1;
-webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
}
70% {
opacity:0.7;
-webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
}
100% {
opacity:1;
-webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
}
}

@keyframes letter-flicker {
0% {
opacity:0.1;
text-shadow: 0px 0px 29px #06FDD0;
}
2% {
opacity:0.1;
text-shadow: 0px 0px 29px #06FDD0;
}
4% {
opacity:1;
text-shadow: 0px 0px 29px #06FDD0;
}


19% {
opacity:1;
text-shadow: 0px 0px 29px #06FDD0;
}
21% {
opacity:0.1;
text-shadow: 0px 0px 29px #06FDD0;
}
23% {
opacity:1;
text-shadow: 0px 0px 29px #06FDD0;
}

80% {
opacity:1;
text-shadow: 0px 0px 29px #06FDD0;
}
83% {
opacity:0.4;
text-shadow: 0px 0px 29px #06FDD0;
}
87% {
opacity:1;
text-shadow: 0px 0px 29px #06FDD0;
}
}


/* SHOOTING STAR PRACTICE: */

